*{
     padding: 0;
     list-style: none;
     margin: 0;
}

.container-header{
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: rgb(170, 170, 231);
     padding: .6rem;
     height: 60px;
}
.logo{

}
.contato-top{
     
}